.register-form{
    width: 1350px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
}

.title{
    text-align: center;
    font-weight: bold;
}

.FormContent{
    margin: 10px 10px 10px 10px;
    background-color: white;
}

label{
    font-size: large;
}

table{
    border-spacing: 10px;
}

.btn{
    width: 300px;
    margin-top: 10px;
}